.app {
  text-align: center;
  background-color: #545454;
  color: white;
  min-height: 100vh;
}

.link {
  color: white;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #353535;
  color: white;
  border-bottom: 2px solid white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.title {
  font-size: 50px;
}

.img {
  border: 1px solid white;
}

.programImage {
  width: 75%;
  border: 2px solid white;
}

.longinusImage {
  width: 40%;
  border: 2px solid white;
}

.homeDivider {
  border-top: 5px dotted #161616;
  padding: 30px;
}

.homeBottom {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downloadsButton {
  background-color: #353535;
  color: white;
  width: 400px;
  height: 200px;
  font-size: 40px;
  border: 2px solid gray;
}

.downloadLink {
  color: orange;
  font-size: 20px;
}

.pixelImage {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

.featureList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: white;
  font-size: 20px;
  text-align: left;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}